# This file sets up paths needed to find the NDK build tools.
# Edit it appropriately for your configuration and save it as "config.cfg".

# This should be the full path to the Android NDK
ANDROID_NDK := /Users/hercules/eclipse/android-ndk-r5

# This should be "linux-x86" for linux, "darwin-x86" for mac
ANDROID_NDK_HOST := darwin-x86
